@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    background: radial-gradient(circle, rgb(202, 126, 202), rgb(218, 47, 47));
    font-weight: 400;
}
form{
    background-color: #f2f2f2;
            padding: 20px;
            margin: auto;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button{
    background-color: rgb(57, 180, 57);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}